
.blog-post {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
}

.blog-post__heading {
    /* This class can be applied to any heading
    element and will still be valid and make sense */

    margin-bottom: 1em;
    font-size: 2em;
    color: black;
}





